<div class="author">
    <h1 class="author__heading">Hello, I'm author</h1>
    <p class="author__body">I write poor reviews of things</p>
</div>

<img src="img/apple.jpeg" alt="apple">


<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">+</ul>
</section>